@media screen and (min-width: 601px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }
    .headerNavLink[data-active=true] {
        border-top: 3px solid #0065FC;
    }
    .headerNavLink:hover {
        border-top: 3px solid #0065FC;
    }
}

@media screen and (max-width: 1100px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .headerimg {
        order: 0;
    }
    .headerSignup {
        order: 1;
    }
    .headerNav {
        order: 2;
    }
    .headerNavLink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    .headerNavLink {
        border-bottom-color: #0065FC;
    }
    .headerNavLink:hover {
        border-bottom-color: #0065FC;
    }
}


/******* header End ********/

@media screen and (max-width: 600px) {
    .searchForm {
        display: flex;
        width: 100%;
    }
    .searchFormSearchinput {
        flex: 1;
    }
    .searchFormSubmitinputText {
        display: none;
    }
    .searchFormSubmitinputIcon {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .searchFiltersTitle {
        width: 100%;
    }
    .searchFiltersFilter {
        margin-right: 16px;
    }
}

@media screen and (min-width: 601px) {
    .searchFormSubmitinputText {
        display: block;
    }
    .searchFormSubmitinputIcon {
        display: none !important;
    }
}


/******* FIN FIRST CONTENER *******/

@media (max-width: 1100px) {
    .hosting {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
    .hostingPopular {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto 160px;
        column-gap: 32px;
        grid-row-start: 1;
    }
    .hostingPopularTitle {
        grid-column: 1/-1;
    }
}


/******* FIN HOSTING POPULAR *******/

@media (max-width: 1000px) {
    .hostingPopular {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(48px, 144px);
    }
}

@media (min-width: 925px) {
    .hostingMain {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 925px) and (min-width: 650px) {
    .hostingMain {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .hostingMain {
        grid-template-columns: 1fr;
    }
}


/******* FIN POPULARY COL *******/

@media (min-width: 1100px) {
    .MainLastContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 224px 32px 32px 32px 224px;
    }
    .VieuxPort {
        grid-row: 2/7;
        grid-column: 1/2;
    }
    .Pomègue {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    .Calanques {
        grid-column: 3/4;
        grid-row: 2/7;
    }
    .DamedeGarde {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .Frioul {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .Longchamp {
        grid-column: 4/5;
        grid-row: 4/7;
    }
}

@media (max-width: 1100px) {
    .MainLastContainer {
        row-gap: 32px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 192px 192px;
    }
}

@media (max-width: 925px) {
    .MainLastContainer {
        row-gap: 32px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 192px 192px 192px;
    }
}

@media (max-width: 650px) {
    .MainLastContainer {
        row-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 192px 192px 192px 192px 192px 192px;
    }
}


/******* FIN LAST CONTAINER  *******/

@media (max-width: 650px) {
    .footerCol {
        flex-direction: column;
        padding: 32px;
    }
    .footerColSub {
        width: 100%;
        padding: 0;
        margin: 16px 0px;
    }
    .footerColSub:first-child {
        margin-top: 0;
    }
    .footerColSub:last-child {
        margin-bottom: 0;
    }
    .footerColSubTitle {
        margin: 0;
    }
    .footerColSubLink:last-child {
        margin-bottom: 0;
    }
}

/**** Page Register ****/
@media (max-width: 925px) {
    .boxregister>* {
        flex: 1 1 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 192px 192px 192px 192px 192px 192px;
    }
    .boxlogin>* {
        flex: 1 1 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 192px 192px 192px 192px 192px 192px;
    }
}
