@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
#Main_Header{
    display: flex;
    flex-direction: row;
    flex: 0 2 auto;
    align-items: center;
    justify-content: space-between;
}

a:link 
{ 
 text-decoration:none; 
} 

.Img_Header{
    display: flex;
    margin: 10px 50px;
}
 .Nav_Header{
    margin: 10px 50px;
    font-size: 20px;
 }

 .Nav_Header:hover{
     background-color: #F2F2F2;
     height: 50px;
     width: 250px;
     border-radius: 20px;
     text-align: center;
     padding: 5px;
 }

 .NavLink_Header{
     color: #0065FC;
 }

 .Fafa_NavLink{
     font-size: 30px;
     color: #0065FC;
 }


#Page_Main{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}


.Register_Title{
    display: flex;
    text-align: center;
    text-decoration: underline;
    margin: auto;
    height: auto;
    width: auto;
    border-radius: 20px;
    justify-content: center;
    margin: 50px 200px;
    color: #0065FC;
    font-size: 30px;
}

h2{
    text-align: center;
    margin: auto;
}

h4{
    color: #0065FC;
}

.contact{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    height: 100px;
    width: 500px;
    margin: auto;
    border-radius: 20px;
}

.Information{
    display: grid;
    justify-content: center;
    text-align: left;
    background-color: #F2F2F2;
    height: 300px;
    width: 500px;
    margin: 20px auto;
    border-radius: 20px;
}

h4{
    text-align: center;
    margin: 0px;
    padding: 20px;
}

#User_More{
    margin: 10px;
}

#name{
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    margin: auto;
    border-radius: 20px;
}

#Username{
    background-color: #F2F2F2;
    height: 200px;
    width: 485px;
    border-radius: 20px;
    justify-content: center;
    margin: 40px auto;
    padding: 10px;
    text-align: center;

}

#password{
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    margin: auto;
    border-radius: 20px;
    
}

#Pseudo{
    border-radius: 20px;
    text-align: center;
    background-color: #F2F2F2;
    color: blue;
    margin: 10px;
}





/*****************BOUTON******************/

.Button{
    display: flex;
    justify-content: center;
}

.ButtonRegisterValid {
    background-color:#0065FC;
    border-radius:30px;
    border:3px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Raleway", "Sans serif";
    font-size:14px;
    padding:17px 51px;
    text-decoration:none;
    text-shadow:0px 0px 0px #0065FC;
    margin: auto;
}

.ButtonRegisterReset {
    background-color:#e4685d;
    border-radius:30px;
    border:3px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Raleway", "Sans serif";
    font-size:14px;
    padding:17px 51px ;
    text-decoration:none;
    align-items: center;
    margin: auto;
    background-color:#eb675e;
}

h2 
{
    margin-bottom: 40px;
    font-size: 45px;
}

.Return_Signup{
    text-align: center;
    margin: 50px 0px;
}


/******************FOOTER********************/

.footer{
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    margin: auto;

}

.footerCol {
    display: flex;
    max-width: 100%;
    padding: 0px 52px;
    justify-content: left;
    box-sizing: border-box;
}

.footerColSub {
    width: 30%;
    padding: 32px 0px;
}

.footerColSubLink {
    display: block;
    margin: 16px 0px;
}

.footerColSubLink:hover {
    text-decoration: underline;
}


/*********************************************/

@media (max-width: 650px) {
    .footerCol {
        flex-direction: column;
        padding: 50px;
        margin-left: 15px;
        
    }
    .footerColSub {
        width: 100%;
        padding: 0;
        margin: 20px 0px;
    }
    .footerColSub:first-child {
        margin-top: 0;
    }
    .footerColSub:last-child {
        margin-bottom: 0;
    }
    .footerColSubTitle {
        margin: 0;
    }
    .footerColSubLink:last-child {
        margin-bottom: 0;
    }
}
/********************Register Page*********************/

@media (max-width: 925px) {
    .boxregister>* {
        flex: 1 1 100%;
        font-size: large;
    }
    .boxlogin>* {
        flex: 1 1 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto 192px 192px 192px 192px 192px 192px;
    }
}
/************************************************************************************/

* {
    box-sizing: border-box;
  }

  @media (max-width: 600px) {
    
    #Main_Header{
        display: flex;
        height: auto;
        width: 440px;
        margin-left: -40px;
    }

    .NavLink_Header{
        display: none;
    }

    .Fafa_NavLink{
        font-size: 30px;
        color:#0065FC;
    }

    .Nav_Header:hover{
        background-color: #F2F2F2;
        height: 50px;
        width: 80px;
        padding: 7px;
    }

    .Register_Title{
        margin: auto;
        margin-top: 40px;
    }

    

    .contact{
        margin: auto;
        height: 100px;
        width: auto;
        margin-bottom: 10px;
    }

    .Information{
        margin: auto;
        height: 270px;
        width: auto;
        margin-bottom: 10px;
    }

    #Username{
        margin: auto;
        height: 200px;
        width: auto;
        margin-bottom: 20px;
    }

    .Button{
        display: grid;
        margin: auto;
        height: 100px;
        width: auto;
        margin-top: 20px;
        gap: 10px;
    }

    .ButtonRegisterReset{
        display: grid;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .ButtonRegisterValid{
        display: grid;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .Return_Signup{
        margin: 80px 0px 50px 0px;
    }
} 
 
