/*****Importation Raleway*****/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*****Données Principale*****/

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


/*****Taille de la page *****/

.header {
    display: grid;
    max-width: 1440px;
    align-items: center;
    margin: auto;
}


/****Logo Réservia*****/

.headerImg {
    grid-area: logo;
    height: 45px;
    padding: 0px 32px;
}


/*****Barre de Navigation*****/

.headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
}

.headerNavLink {
    text-align: center;
    padding: 32px;
    font-weight: 500;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    transition-duration: 0.5s;
}

.headerNavLink[data-active=true] {
    color: #0065FC;
}

.headerNavLink:hover {
    color: #0065FC;
}

.headerSignup {
    display: flex;
    align-items: center;
    grid-area: button;
    font-weight: 600;
    padding: 32px;
    color: #0065FC;
}


/****Deuxième partie****/

.main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 32px;
}


/****Header****/

.searchHeaderTitle {
    margin-bottom: 8px;
}

.searchHeader_Para {
    margin-top: 0px;
}


/****Barre de recherche****/

.searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.searchForm_Icon {
    text-align: center;
    padding: 16px 20px;
    border-radius: 16px 0px 0px 16px;
    background-color: #F2F2F2;
}

.searchForm_Icon {
    margin-left: 0.1rem;
}

.searchForm_Searchinput {
    font-family: "Raleway", "Sans serif";
    border-right: none;
    border-left: none;
    padding: 0px 24px;
    width: 224px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
}

.searchForm_Searchinput::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 16px;
    color: #00000069;
}

.searchFormSubmitinput {
    font-family: "Raleway", "Sans serif";
    font-weight: bold;
    border: none;
    border-radius: 0px 16px 16px 0px;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0065FC;
    color: white;
}


/****Bouton Filtre****/

.searchFilters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.searchFiltersTitle {
    display: flex;
    align-items: center;
    margin: 0px 32px 16px 0px;
}

.search_MoreFilters {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 32px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.5s;
}

.search_MoreFilters:last-child {
    margin-right: 0px;
}

.search_MoreFilters:hover {
    transform: scale(1.0);
    background-color: #DEEBFF;
}

.searchFilters_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    margin: -2px;
    background-color: #DEEBFF;
}

.searchFilters_Icone {
    color: rgb(0, 0, 255);
}

.search_FilterTitle {
    margin: 0px 16px;
}

#Result {
    display: flex;
    align-items: center;
    margin: 16px 0px 32px 0px;
}

.Result_Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 16px;
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    border: solid 1px #d9d9d9;
}

.Result_IcoIcon {
    color: #0065FC;
}

.Result_Text {
    margin: 0px;
}


/******Conteneur Principal Hébergement Gauche******/

.hostingWrapper,
.hostingPopular,
.hostingMain {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 32px;
}

.hosting {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 6fr 3fr;
}

.hostingMain {
    display: grid;
    column-gap: 32px;
    row-gap: 32px;
}

.hostingHeader {
    grid-column: 1/-1;
}

.hostingHeaderTitle {
    margin: 0;
}

.hosting_MainTemplate {
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px #0000002e;
    transition-duration: 0.5s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

.hostingCard:hover {
    transform: scale(1.00);
}

.hosting_Template {
    margin: 0;
}

.hosting_TemplateImg {
    height: 112px;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 16px 16px 0px 0px;
}

.hosting_TemplateTitle {
    margin: 4px 12px 0px 12px;
}

.hosting_Description {
    margin: 4px 12px 4px 12px;
}

.hosting_NightPrice {
    font-weight: bold;
}

.hostingCardGrade {
    margin: 12px 4px 12px;
}

.hostingStars[data-active=true] {
    color: #0065FC;
}

.hostingStars[data-active=false] {
    color: #d9d9d9;
}

.hostingViewmore {
    font-weight: bold;
}


.hostingPopular {
    display: grid;
    row-gap: 32px;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
}

.hostingPopularTitle {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.hosting_ContainerPopular {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.hostingPopular_Img{
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

.hostingPopular_Image{
    border-radius: 16px 0px 0px 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hostingPopular_Container {
    display: flex;
    flex-direction: column;
}

.hosting_WhiteBlock {
    flex: 1;
}

.hostingPopularhosting_Block {
    height: 140px;
}


/*******Mon dernier Containeur t Footer*******/

.LastContainer {
    display: grid;
    column-gap: 32px;
    margin: 64px 0;
}

.LastContainerTitle {
    grid-column: 1/-1;
}

.LastContainerCard {
    display: flex;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    transition-duration: 0.1s;
}

.LastContainerCard:hover {
    transform: scale(1.05);
}

.LastContainerCardBox {
    position: relative;
    flex: 1;
}

.LastContainerCardBoxImg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.LastContainerCardTitle {
    margin: 19px 24px;
}


/******ACTIVITY******/

.MainLastContainer {
    display: grid;
    column-gap: 32px;
    margin: 64px 0px;
}

.LastContainerTitle {
    grid-column: 1/-1;
}

.LastContainerCard {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.5s;
}

.LastContainerCard:hover {
    transform: scale(1.07);
}

.LastContainerCardBox {
    position: relative;
    flex: 1;
}

.LastContainerCardBoxImgg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.LastContainerCardTitle {
    margin: 19px 24px;
}


/**********Footer*********/

.footer {
    background-color: #F2F2F2;
    width: 100%;
}

.footerCol {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;
}

.footerColSub {
    width: 30%;
    padding: 32px 32px;
}

.footerColSubLink {
    display: block;
    margin: 16px 0px;
}

.footerColSubLink:hover {
    text-decoration: underline;
}