/*****Importation Raleway*****/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*****Données Principale*****/

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    display: grid;
    max-width: 1440px;
    align-items: center;
    margin: auto;
}


/****Logo Réservia*****/

.headerImg {
    grid-area: logo;
    height: 45px;
    padding: 0px 32px;
}


/*****Barre de Navigation*****/

.headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
}

.headerNavLink {
    text-align: center;
    padding: 32px;
    font-weight: 500;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    transition-duration: 0.5s;
}

.headerNavLink[data-active=true] {
    color: #0065FC;
}

.headerNavLink:hover {
    color: #0065FC;
}

.headerSignup {
    display: flex;
    align-items: center;
    grid-area: button;
    font-weight: 600;
    padding: 32px;
    color: #0065FC;
}


/*Début de cadre*/

#mainRegister {
    display: grid;
    flex-wrap: wrap;
    height: 100%;
    width: 800px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Raleway" "sans-serif";
    background-color: #F2F2F2;
    color: blue;
    font-weight: bold;
    border-radius: 16px;
}


/*****************************************************/
/**************** LOGIN & REGISTER *******************/
.login {
    display: flex;
    
    text-align: center;
    align-items: center;
}
.login>* {
    flex: 0 0 50%;
    margin: 10px;
    justify-content: center;
}

.register {
    display: flex;
    
    text-align: center;
    align-items: center;
}
.RegisterTitle {
    text-align: center;
}

.RegisterTitle a{
        color: #0065FC;
}

.wrapperregister {
    width: 800px;
  }

  .wrapperlogin {
    width: 800px;
  }
.boxregister {

    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    text-align: left;
    align-items: flex-start;
  }
  .boxregister>* {
    flex: 1 1 25%;
    margin: 10px;
    text-align: center;
  }

  .boxregister h4{
    color: #00a3f1;
  }

  .boxlogin {

    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    text-align: left;
    align-items: flex-start;
  }
  .boxlogin>* {
    flex: 1 1 25%;
    margin: 10px;
    text-align: center;
  }



  .inputText {  
      background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    border-radius: 10px;
}

    .ButtonRegisterValid 
    {background-color:#0065FC;
        border-radius:30px;
        border:3px solid #004ebb;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family: "Raleway", "Sans serif";
        font-size:14px;
        padding:17px 51px;
        text-decoration:none;
        text-shadow:0px 0px 0px #0065FC;
    }

    .ButtonRegisterReset 
    {
        background-color:#e4685d;
        border-radius:30px;
        border:3px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family: "Raleway", "Sans serif";
        font-size:14px;
        padding:17px 51px;
        text-decoration:none;
        background-color:#eb675e;
    }
   
    h2 
    {
        margin-bottom: 40px;
        font-size: 45px;
    }

